*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#f6f3f6;

}

.hero{
    display: flex;
    background:#053197;
    border-radius: 0 0 20px 20px ;
    gap: 30px;
    padding: 20px 30px;
    box-shadow: 0px 5px 5px  rgb(40, 148, 242);
    
}

.profile{
    border: 4px solid #C4B5FD;
    border-color: rgb(112, 172, 218);
    border-radius: 50%;
    object-fit: cover;
    flex: 0;
    width: 300px;
}
.zero {
   
    display: flex;
    
     margin: 0;padding: 0;
}
.y{
    margin-top: 5vh;
    border-radius: 12px;
    background-color:#add3fa;
    box-shadow: 0px 5px 5px rgb(103, 174, 233);
    padding: 2vh;
}
.gero {
   
    display: flex;
    
     margin: 0;padding: 0;
}
.p{
    margin-top: 5vh;
    border-radius: 12px;
    background-color:#add3fa;
    
    box-shadow: 0px 5px 5px rgb(103, 174, 233);
    padding: 2vh;
}

.pero {
   
    display: flex;
    
     margin: 0;padding: 0;
}
.g{
    margin-top: 5vh;
    border-radius: 12px;
    background-color:#add3fa;
    
    box-shadow: 0px 5px 5px rgb(103, 174, 233);
    padding: 2vh}
